* {
    box-sizing: border-box;
}

:root {
    --typewriterSpeed: 1.5s;
    --typingSteps: steps(20);
    --typingDelay: 1s;
}

html, body {
    min-height: 100vh;
    /* height: 100%; */
    margin: 0;
    background-color: rgb(219, 154, 88);
    background-image: url(images/mountainVille.jpg);
    background-size: cover;
    font-family: 'Special Elite', cursive;
}

body {
    display: flex;
    flex-direction: column;
}

/* Disable div(Card Decks) */
.disable-div {
    pointer-events: none;
}

/**** General CSS Changes ****/
.container {
    background-color: aliceblue;
    border: 5px double black;
    border-radius: 5em;
    padding: 3em 5em;
    margin: 1em 13em .5em;
    position: relative; 
    /* so position:fix(choices) is within the container */
    contain: content;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 690px;
}

.infoContents {
    display: flex;
    gap: 7em;
}

.infoBox {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 221, 0, 0.249);
    border: 2px ridge;
    width: 270px;
    padding: .5em;
}

.scoreboard, .choices, .announcement {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    color: rgb(220, 56, 23);
    text-shadow: 2px 1px black;
    margin-bottom: 10px;
}

h3 { 
    font-family: 'Courier Prime', monospace;
}

.subtext {
    margin-bottom: 2px;
    text-align: center;
    color: #23426b;
}

.choices {
    position: fixed;
    gap: 5.2em;
    top: 19.3em;
    margin-top: 2em;
}

.choices.startingPosition {
    top: 18em;
}

.victory, .defeat {
    font-size: 1.5em;
}
.victory {
    color: green;
}
.defeat {
    color: red;
}

.decision {
    display: inline-block;
    margin-top: 10px;
    font-size: 1.5em;
}
.playerDecision {
    text-shadow: 0px 0px 20px rgb(28, 206, 164), 0px 0px 40px rgb(28, 206, 164);
}
.compDecision {
    text-shadow: 0px 0px 20px rgb(255, 55, 0), 0px 0px 40px rgb(255, 55, 0);
}

/* **************************************************** */
/**** RESET PAGE ****/
.resetPage {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(245, 237, 233);
    background-color: rgba(0, 0, 0, 0.788);
    inset: 0;
    opacity: 0;
    z-index: -1;
}
.resetPage.active{
    opacity: 1;
    z-index: 1;
}
.resetText {
    flex-wrap: wrap;
    font-family: 'Press Start 2P', cursive;
    position: relative;
    color: white;
    text-align: center;
    line-height: 2em;
    font-size: 2.5vw;
    margin-top: 1.5em;
    user-select: none;
}
.animation2 {
    animation: scaleUp 2s forwards;
}
.rematchBtn {
    cursor: pointer;
    user-select: none;
    font-size: 2em;
    text-shadow: 1.5px 1.5px black;
    text-align: center;
    background-color: rgb(114, 174, 226);
    border-radius: 20px;
    padding: 1em;
    margin: 2em;
    transition: all .7s ease;
}
.rematchBtn:hover {
    box-shadow: 0 0 15px 5px rgb(227, 216, 216);
    background-color: #23426b;
}

/******* SCOREBOARD *******/
.left, .right {
    /* background-color: rgb(209, 198, 155); */
    background-color: rgb(236 169 131);
    text-align: center;
    border: 1px solid black;
    height: 6.5em;
    width: 13em;
    margin: .5em;
}
h3 {
    font-size: .8em;
}
.playerScore, .compScore {
    font-size: 3.5em;
    top: 50%;
    left: 50%;
}
.floatUpScore {
    opacity: 0;
    transform: translateY(2rem);
    animation: fadeInUp 2s ease forwards;
    animation-iteration-count: 1;
}


/******* RESULT CONTAINER *******/
.result {
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.result .text {
    font-family: 'Special Elite', cursive;
    text-align: center;
    font-size: 1.5em;
    position: relative;
    margin-top: .5em;
}
.result .text.startingPosition {
    margin-top: 2em;
}
/* Typewriter */
/* sets before & after to the same starting position */
.animation::before, 
.animation::after {
    content: '';
    position: absolute;
    top: -1px;
    right: 0;
    bottom: 0;
    left: 0;
}
.animation::before {
    background: aliceblue;
    animation: typewriter var(--typewriterSpeed) var(--typingSteps) var(--typingDelay) forwards;
}
.animation::after {
    width: 0;
    border-right: 2px solid black;
    animation: 
        typewriter var(--typewriterSpeed) var(--typingSteps) var(--typingDelay) forwards,
        blink .5s step-end infinite;
}


/******* FLIPPING CARDS *******/
.card {
    position: relative;
    height: 300px;
    width: 200px;
    perspective: 500px; 
    margin-bottom: 10px;
}
.card-content {
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform .7s;
    transform-style: preserve-3d;
}
.card:hover .card-content {
    transform: rotateY(180deg) translateY(-15px);
}
.card-front, .card-back {
    border: 2px solid rgb(98, 131, 172);
    border-radius: 25px;
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}
.card-back {
    cursor: pointer;
    user-select: none;
    background-color: rgb(131, 163, 183);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    transform: rotateY(180deg);
}
.card:active {
    transform: translateY(-10px);
}  
.card-back h1 {
    font-size: 2.5em;
    color: rgb(241, 241, 241);
    margin-bottom: 10px;
}
.card-back .shadow {
    height: 80px;
    width: 80px;
    object-fit: contain;
}
/* Adjust inside contents (CARDS) */
.card img {
    user-select: none;
    height: 300px;
    width: 200px;
    object-fit: cover;
}
img.cardBorder{
    /* height: 20em;
    width: 12em; */
    position: absolute;
    object-fit: contain;
}

@keyframes addScore {
    0% {
      transform: scale(1);
    }
    75% {
      transform: scale(1.5);
    }

    100% {
      transform: scale(1.1);
    }
}


/* The typing effect */
@keyframes typewriter {
    to {    
        left: 100%;
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}
  
/* Fade up text */
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}




  
