/* Disable div(Card Decks) */
.disable-div {
    pointer-events: none;
}

.scoreboard, .choices, .announcement{
    display: flex;
    justify-content: space-around;
}

.result {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.choices {
    margin-top: 5em;
}

/* FLIPPING CARDS */
.card {
    height: 300px;
    width: 200px;
    perspective: 500px; 
}
.card-content {
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform .7s;
    transform-style: preserve-3d;
}
.card:hover .card-content {
    transform: rotateY(180deg);
}
.card-front, .card-back {
    border: 2px solid rgb(98, 131, 172);
    border-radius: 25px;
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}
.card-back {
    background-color: rgb(131, 163, 183);
    display: flex;
    align-items: center;
    justify-content: center;    
    transform: rotateY(180deg);
}

/* Adjust inside contents (CARDS) */
.card-front p {
    color: white;
    position: absolute;
    text-shadow: 0px 0px 2px black;
}
.card-front p:first-child{
    top: 14.5em;
    left: 4.7em;
}
.card-front p:nth-child(2) {
    top: 15.5em;
    left: 5.2em;
}
.card img {
    height: 300px;
    width: 200px;
    object-fit: cover;
}

  
