* {
    box-sizing: border-box;
}

:root {
    --typewriterSpeed: 1.5s;
    --typingSteps: steps(20);
    --typingDelay: 1s;
}

body {
    margin: 0;
    background-color: rgb(219, 154, 88);
}

/* Disable div(Card Decks) */
.disable-div {
    pointer-events: none;
}

.container {
    background-color: aliceblue;
    border: 5px double black;
    border-radius: 5em;
    padding: 5em;
    margin: 1em 7em 2.5em;
}

.infoContents {
    display: flex;
    justify-content: space-evenly;
}

.infoBox {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 221, 0, 0.249);
    border: 2px ridge;
}

.scoreboard, .choices, .announcement {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    color: rgb(220, 56, 23);
    text-shadow: 2px 1px black;
}

.choices {
    margin-top: 2em;
}

/**** RESET PAGE ****/
.resetPage {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(245, 237, 233);
    background-color: rgba(0, 0, 0, 0.788);
    inset: 0;
    opacity: 0;
    z-index: -1;
}
.resetPage.active{
    opacity: 1;
    z-index: 1;
}
.resetText {
    position: relative;
    color: white;
    text-align: center;
    font-size: 1.5em;
}
.animation2 {
    animation: scaleUp 2s forwards;
}
/* .animation2::before, 
.animation2::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.animation2::before {
    background-color: rgba(0, 0, 0, 0);
    animation: typewriter 2.5s var(--typingSteps) var(--typingDelay) forwards;
} */
.rematchBtn {
    font-size: 2em;
    text-align: center;
    background-color: rgb(114, 174, 226);
    border-radius: 20px;
    padding: 1em;
    margin: 2em;
}


/******* SCOREBOARD *******/
.left, .right {
    background-color: rgb(209, 198, 155);
    text-align: center;
    border: 1px solid black;
    height: 6.5em;
    width: 13em;
    margin: .5em;
}
h3 {
    font-size: .8em;
}
.playerScore, .compScore {
    font-size: 3.5em;
    top: 50%;
    left: 50%;
}
.floatUpScore {
    opacity: 0;
    transform: translateY(2rem);
    animation: fadeInUp 2s ease forwards;
    animation-iteration-count: 1;
}


/******* RESULT CONTAINER *******/
.result {
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.result .text {
    text-align: center;
    font-size: 1.5em;
    position: relative;
}
/* Typewriter */
/* sets before & after to the same starting position */
.animation::before, 
.animation::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.animation::before {
    background: aliceblue;
    animation: typewriter var(--typewriterSpeed) var(--typingSteps) var(--typingDelay) forwards;
}
.animation::after {
    width: 0;
    border-right: 2px solid black;
    animation: 
        typewriter var(--typewriterSpeed) var(--typingSteps) var(--typingDelay) forwards,
        blink .5s step-end infinite;
}


/******* FLIPPING CARDS *******/
.card {
    height: 300px;
    width: 200px;
    perspective: 500px; 
}
.card-content {
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform .7s;
    transform-style: preserve-3d;
}
.card:hover .card-content {
    transform: rotateY(180deg);
}
.card-front, .card-back {
    border: 2px solid rgb(98, 131, 172);
    border-radius: 25px;
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}
.card-back {
    background-color: rgb(131, 163, 183);
    display: flex;
    align-items: center;
    justify-content: center;    
    transform: rotateY(180deg);
}
.card-back h1 {
    color: rgb(241, 241, 241);
}
/* Adjust inside contents (CARDS) */
.card-front p {
    color: white;
    position: absolute;
    text-shadow: 0px 0px 2px black;
}
.card-front p:first-child{
    top: 14.5em;
    left: 4.7em;
}
.card-front p:nth-child(2) {
    top: 15.5em;
    left: 5.2em;
}
.card img {
    height: 300px;
    width: 200px;
    object-fit: cover;
}

  
@keyframes addScore {
    0% {
      transform: scale(1);
    }
    75% {
      transform: scale(1.5);
    }

    100% {
      transform: scale(1.1);
    }
}


/* The typing effect */
@keyframes typewriter {
    to {    
        left: 100%;
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}
  
/* Fade up text */
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.5);
    }
}




  
